img{
    width: 150px;
}

body {
    font-size: 18px;
    margin: 0;
}

li {
    flex-grow: 1;
    margin: 10px;
    
}

.ul-menu {
    display: flex;
    list-style: none;
    background-color: #b6b6b6;
    justify-content:left;
    padding: 10px; 
    
}

a:link {
    color: rgb(245, 245, 245);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(173, 173, 173);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  body 
  {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  header
  {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }

  h1 
  {
      margin: 0;
  }

  nav 
  {
      background-color: #f2f2f2;
      padding: 10px;
  }

  section 
  {
      padding: 20px;
      margin-bottom: 20px;
  }

  h2 
  {
      color: #333;
      text-align: center;
  }

  h3  
  {
      margin: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  p {
      line-height: 1.5;
  }

  footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
  }